<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.IcAnnounceMapper">
  <resultMap id="BaseResultMap" type="model.IcAnnounce">
    <id column="ANNOUNCE_ID" jdbcType="DECIMAL" property="announceId" />
    <result column="COMPANY_CODE" jdbcType="VARCHAR" property="companyCode" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ACTIVE_DATE" jdbcType="TIMESTAMP" property="activeDate" />
    <result column="EXPIRE_DATE" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="IS_TOP" jdbcType="DECIMAL" property="isTop" />
    <result column="CREATOR_CODE" jdbcType="VARCHAR" property="creatorCode" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CHECKER_CODE" jdbcType="VARCHAR" property="checkerCode" />
    <result column="CHECK_TIME" jdbcType="TIMESTAMP" property="checkTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="model.IcAnnounce">
    <result column="CONTENT" jdbcType="CLOB" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    ANNOUNCE_ID, COMPANY_CODE, TITLE, STATUS, ACTIVE_DATE, EXPIRE_DATE, IS_TOP, CREATOR_CODE, 
    CREATE_TIME, CHECKER_CODE, CHECK_TIME
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from AWJ_MALL.IC_ANNOUNCE
    where ANNOUNCE_ID = #{announceId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from AWJ_MALL.IC_ANNOUNCE
    where ANNOUNCE_ID = #{announceId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="model.IcAnnounce">
    insert into AWJ_MALL.IC_ANNOUNCE (ANNOUNCE_ID, COMPANY_CODE, TITLE, 
      STATUS, ACTIVE_DATE, EXPIRE_DATE, 
      IS_TOP, CREATOR_CODE, CREATE_TIME, 
      CHECKER_CODE, CHECK_TIME, CONTENT
      )
    values (#{announceId,jdbcType=DECIMAL}, #{companyCode,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{activeDate,jdbcType=TIMESTAMP}, #{expireDate,jdbcType=TIMESTAMP}, 
      #{isTop,jdbcType=DECIMAL}, #{creatorCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{checkerCode,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, #{content,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.IcAnnounce">
    insert into AWJ_MALL.IC_ANNOUNCE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="announceId != null">
        ANNOUNCE_ID,
      </if>
      <if test="companyCode != null">
        COMPANY_CODE,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="activeDate != null">
        ACTIVE_DATE,
      </if>
      <if test="expireDate != null">
        EXPIRE_DATE,
      </if>
      <if test="isTop != null">
        IS_TOP,
      </if>
      <if test="creatorCode != null">
        CREATOR_CODE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="checkerCode != null">
        CHECKER_CODE,
      </if>
      <if test="checkTime != null">
        CHECK_TIME,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="announceId != null">
        #{announceId,jdbcType=DECIMAL},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="activeDate != null">
        #{activeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isTop != null">
        #{isTop,jdbcType=DECIMAL},
      </if>
      <if test="creatorCode != null">
        #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkerCode != null">
        #{checkerCode,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.IcAnnounce">
    update AWJ_MALL.IC_ANNOUNCE
    <set>
      <if test="companyCode != null">
        COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="activeDate != null">
        ACTIVE_DATE = #{activeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null">
        EXPIRE_DATE = #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isTop != null">
        IS_TOP = #{isTop,jdbcType=DECIMAL},
      </if>
      <if test="creatorCode != null">
        CREATOR_CODE = #{creatorCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkerCode != null">
        CHECKER_CODE = #{checkerCode,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=CLOB},
      </if>
    </set>
    where ANNOUNCE_ID = #{announceId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="model.IcAnnounce">
    update AWJ_MALL.IC_ANNOUNCE
    set COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      ACTIVE_DATE = #{activeDate,jdbcType=TIMESTAMP},
      EXPIRE_DATE = #{expireDate,jdbcType=TIMESTAMP},
      IS_TOP = #{isTop,jdbcType=DECIMAL},
      CREATOR_CODE = #{creatorCode,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CHECKER_CODE = #{checkerCode,jdbcType=VARCHAR},
      CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=CLOB}
    where ANNOUNCE_ID = #{announceId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.IcAnnounce">
    update AWJ_MALL.IC_ANNOUNCE
    set COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      ACTIVE_DATE = #{activeDate,jdbcType=TIMESTAMP},
      EXPIRE_DATE = #{expireDate,jdbcType=TIMESTAMP},
      IS_TOP = #{isTop,jdbcType=DECIMAL},
      CREATOR_CODE = #{creatorCode,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CHECKER_CODE = #{checkerCode,jdbcType=VARCHAR},
      CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP}
    where ANNOUNCE_ID = #{announceId,jdbcType=DECIMAL}
  </update>
</mapper>