<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.IcIndexPicMapper">
  <resultMap id="BaseResultMap" type="model.IcIndexPic">
    <id column="PIC_ID" jdbcType="DECIMAL" property="picId" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="ORDER_NO" jdbcType="DECIMAL" property="orderNo" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATE_CODE" jdbcType="VARCHAR" property="createCode" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="IMAGE_ID" jdbcType="VARCHAR" property="imageId" />
    <result column="PIC_NAME" jdbcType="VARCHAR" property="picName" />
    <result column="PRODUCT_NO" jdbcType="VARCHAR" property="productNo" />
    <result column="TURN_URL" jdbcType="VARCHAR" property="turnUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    PIC_ID, TYPE, URL, ORDER_NO, STATUS, CREATE_CODE, CREATE_TIME, IMAGE_ID, PIC_NAME, 
    PRODUCT_NO, TURN_URL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AWJ_MALL.IC_INDEX_PIC
    where PIC_ID = #{picId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from AWJ_MALL.IC_INDEX_PIC
    where PIC_ID = #{picId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="model.IcIndexPic">
    insert into AWJ_MALL.IC_INDEX_PIC (PIC_ID, TYPE, URL, 
      ORDER_NO, STATUS, CREATE_CODE, 
      CREATE_TIME, IMAGE_ID, PIC_NAME, 
      PRODUCT_NO, TURN_URL)
    values (#{picId,jdbcType=DECIMAL}, #{type,jdbcType=DECIMAL}, #{url,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, #{createCode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{imageId,jdbcType=VARCHAR}, #{picName,jdbcType=VARCHAR}, 
      #{productNo,jdbcType=VARCHAR}, #{turnUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.IcIndexPic">
    insert into AWJ_MALL.IC_INDEX_PIC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="picId != null">
        PIC_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="orderNo != null">
        ORDER_NO,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createCode != null">
        CREATE_CODE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="imageId != null">
        IMAGE_ID,
      </if>
      <if test="picName != null">
        PIC_NAME,
      </if>
      <if test="productNo != null">
        PRODUCT_NO,
      </if>
      <if test="turnUrl != null">
        TURN_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="picId != null">
        #{picId,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createCode != null">
        #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imageId != null">
        #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null">
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="turnUrl != null">
        #{turnUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.IcIndexPic">
    update AWJ_MALL.IC_INDEX_PIC
    <set>
      <if test="type != null">
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createCode != null">
        CREATE_CODE = #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="imageId != null">
        IMAGE_ID = #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        PIC_NAME = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null">
        PRODUCT_NO = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="turnUrl != null">
        TURN_URL = #{turnUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where PIC_ID = #{picId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.IcIndexPic">
    update AWJ_MALL.IC_INDEX_PIC
    set TYPE = #{type,jdbcType=DECIMAL},
      URL = #{url,jdbcType=VARCHAR},
      ORDER_NO = #{orderNo,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATE_CODE = #{createCode,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      IMAGE_ID = #{imageId,jdbcType=VARCHAR},
      PIC_NAME = #{picName,jdbcType=VARCHAR},
      PRODUCT_NO = #{productNo,jdbcType=VARCHAR},
      TURN_URL = #{turnUrl,jdbcType=VARCHAR}
    where PIC_ID = #{picId,jdbcType=DECIMAL}
  </update>
</mapper>